@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

body {
    margin: 0;
    padding: 0;
}

.container-register {
    display: flex;
    width: 100%;
    height: 100%;
}

.left-register {
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 3rem;
}

.header-register {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 4rem;
    line-height: 144.02%;
    /* text-align: center; */
    color: #000000;

}

.subheader-register {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 2.1rem;
    line-height: 144.02%;
    /* text-align: center; */
    color: #525252;
}

.form-register {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.name,
.email,
.number,
.password {
    width: 59rem;
    height: 5rem;
    background: #FFFFFF;
    border: 0.2rem solid #C2C2C2;
    border-radius: 0.5rem;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 144.02%;
    color: #525252;
    box-sizing: content-box;
    padding-left: 1rem;
}

.wrapper-checkbox {
    display: flex;
}

.checkbox {
    cursor: pointer;
}

.checkbox-caption-register {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.68524rem;
    line-height: 139.69%;
    letter-spacing: 0.02em;
    color: #525252;
}

.submit-register {
    cursor: pointer;
    width: 27rem;
    height: 6rem;
    background: #ED5353;
    border-radius: 0.5rem;
    border: none;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 144.02%;
    text-align: center;
    color: #FFFFFF;
}

.login-caption {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 2.1rem;
    line-height: 144.02%;
    color: #525252;

}

.login-url {
    cursor: pointer;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 2.1rem;
    line-height: 144.02%;
    text-align: center;
    text-decoration-line: underline;
    color: #000000;

}

.right-register {
    height: 100vh;
    width: 50vw;
}

.register-img{
    height: 100%;
    width: 100%;
}

.title-wrapper-register {
    position: absolute;
    top: 2rem;
    right: 9rem;
}

.title-register {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 4rem;
    line-height: 144.02%;
    text-align: center;
    color: #FFFFFF;
}